.drop-list {
  $dropList: &;
  position: relative;
  display: inline-block;

  @each $name in (hover focus-visible) {
    &:#{$name} {
      border-color: $black-50;
      outline: none;
    }
  }

  &_active {
    #{$dropList}__btn:after {
      content: '\f005';
    }

    border: {
      color: $black-50;
      radius: 4px 4px 0 0;
    }
  }

  &__field {
    border-image-source: url('../../assets/img/name.svg');
    border-image-width: 4px;
    border-image-slice: 4;
    border-image-repeat: round;
    outline: none;
    min-width: 302px;
    min-height: 42px;
    font-family: $mainFont;
    font-size: rem(14);
    padding: 0 10px;
    background-color: transparent;
    cursor: pointer;
  }

  &::placeholder {
    color: $black-25;
  }

  &__btn {
    position: absolute;
    top: 50%;
    right: 8px;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background-color: transparent;
    background-color: white;
    transform: translateY(-50%);

    &:after {
      color: $black;
      font-weight: bold;
      font-size: 14px;
      font-family: $symFont;
      content: '\f004';
    }
  }

  &__panel {
    position: absolute;
    right: -1px;
    left: -1px;
    z-index: 3;
    background-color: white;
  }

  &__item {
    padding: 4px 0 4px 14px;
    color: $black-75;
    cursor: pointer;

    &_focused {
      background-color: $black-5;
      outline: none;
    }

    &:hover {
      background-color: $black-5;
    }
  }
  $drop-list: &;
}
