.widget {
  &__cont {
    display: flex;
    flex-wrap: wrap;
  }

  &__calendar {
    text-align: center;
  }

  &__add {
    margin-top: 20px;
    font-size: $mainFontSize;
    font-family: $mainFont;
  }

  &__events {
    margin-left: 20px;
  }
}
